.category {
    background-color: #f0f8ff;
    justify-content: center;
    /* display: inline-flex;
    margin-right: 60px;
    margin-bottom: 60px;
    width: 175px;
    height: 200px; */
    text-align: center;
    border: 1px solid #5e5e5e;
    border-radius: 50px;
}

.category-name {
    padding-top: 10px;
    font-weight: 700;
    justify-content: center;
}

.category-image {
    margin: auto;
}