.subcategory {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    justify-content: center;
    text-align: center;
    border: 0px solid #5e5e5e;
    border-radius: 50px;
}

.subcategory-name {
    padding-top: 10px;
    font-weight: 700;
    justify-content: center;
    color: #282828;
}

.subcategory-image {
    margin: auto;
}