.project {
    background-color: #f0f8ff;
    justify-content: center;
    text-align: center;
    border: 1px solid #5e5e5e;
    border-radius: 50px;
}

.project-name {
    padding-top: 10px;
    font-weight: 700;
    justify-content: center;
}

.project-image {
    margin: auto;
}

.project-info {
    padding-bottom: 50px;
}