.path {
    background: -webkit-linear-gradient(#FE6B8B , #FF8E53);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 50px;
}

.path-element {
    background: -webkit-linear-gradient(#FE6B8B , #FF8E53);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    font-size: 24px;
    font-weight: 500;
    /* padding-bottom: 20px;  */
    cursor: pointer;
    position: relative;
}

.path-element:hover::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 0;
    height: 1px;
    width: 100%;
    background: -webkit-linear-gradient(#FE6B8B , #FF8E53);
}